{% extends 'layouts/base.html' %}
{% set active_page = 'dashboard' %} 

{% block title %}Dashboard - SecureStore{% endblock %}

{% block breadcrumbs %}Home / Dashboard{% endblock %}

{% block content %}
<section class="dashboard">
    <div class="dashboard-title-banner">
        <h2>Dashboard</h2>
    </div>
    <div class="cards-container">
        {% if current_user.role == 'admin' %}
        <div class="card card-user">
            <span class="card-number">{{ total_users }}</span>
            <span class="card-label">Total User</span>
        </div>
        {% endif %}
        <div class="card card-kategori">
            <span class="card-number">{{ total_kategori }}</span>
            <span class="card-label">Total Kategori</span>
        </div>
        <div class="card card-barang">
            <span class="card-number">{{ total_barang }}</span>
            <span class="card-label">Total Barang</span>
        </div>
    </div>
</section>
{% endblock %}