<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambah Kategori - SecureStore</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="sidebar-header">
                <h1>SecureStore</h1>
            </div>
            <div class="profile">
                <img src="profile picture.png"> <p>Dzakwan M. Astrea</p>
            </div>
            <nav class="sidebar-nav">
                <ul>
                    <li><a href="dashboard.html"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                    <li><a href="datauser.html"><i class="fas fa-users"></i> Data User</a></li>
                    <li class="datakategori-active"><a href="datakategori.html"><i class="fas fa-tags"></i> Data Kategori</a></li>
                    <li><a href="databarang.html"><i class="fas fa-box"></i> Data Barang</a></li>
                </ul>
            </nav>
        </aside>

        <main class="main-content">
            <header class="main-header">
                <div class="breadcrumbs">
                    <p>Data Kategori</p>
                </div>
                <div class="btn-logout">
                    <a href="login.html">Logout</a>
                </div>
            </header>

            <section class="add-form-page">
                <div class="form-card">
                    <div class="form-header">
                        <h3>Tambah Kategori</h3>
                    </div>
                    <form action="datakategori.html" class="main-form">
                        <div class="form-group">
                            <label for="nama-kategori">Nama Kategori</label>
                            <input type="text" id="nama-kategori" placeholder="Masukkan Nama Kategori" required>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn-simpan">Simpan</button>
                        </div>
                    </form>
                </div>
            </section>
        </main>
    </div>
</body>
</html>