<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambah Barang - SecureStore</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="sidebar-header">
                <h1>SecureStore</h1>
            </div>
            <div class="profile">
                <img src="profile picture.png"> <p>Dzakwan M. Astrea</p>
            </div>
            <nav class="sidebar-nav">
                <ul>
                    <li><a href="dashboard.html"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                    <li class="datauser-active"><a href="datauser.html"><i class="fas fa-users"></i> Data User</a></li>
                    <li><a href="datakategori.html"><i class="fas fa-tags"></i> Data Kategori</a></li>
                    <li><a href="databarang.html"><i class="fas fa-box"></i> Data Barang</a></li>
                </ul>
            </nav>
        </aside>

        <main class="main-content">
            <header class="main-header">
                <div class="breadcrumbs">
                    <p>Data User</p>
                </div>
                <div class="btn-logout">
                    <a href="login.html">Logout</a>
                </div>
            </header>

            <section class="add-form-page">
                <div class="form-card">
                    <div class="form-header">
                        <h3>Tambah User</h3>
                    </div>
                    <form action="datauser.html" class="main-form">    
                        <div class="form-group">
                            <label for="nama-lengkap">Email</label>
                            <input type="text" id="nama-lengkap" placeholder="Masukkan Email" required>
                        </div>

                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" id="username" placeholder="Masukkan Username" required>
                        </div>

                        <div class="form-group">
                            <label for="role-user">Role</label>
                            <select id="role-user" required>
                                <option value="" disabled selected>-- Pilih Role --</option>
                                <option value="admin">Admin</option>
                                <option value="kasir">Kasir</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" placeholder="Masukkan Password Awal" required>
                        </div>

                        <div class="form-group">
                            <label for="konfirmasi-password">Konfirmasi Password</label>
                            <input type="password" id="konfirmasi-password" placeholder="Ulangi Password Awal" required>
                            <span class="error-message" id="password-error"></span>
                        </div>

                        <div class="form-group profile-upload">
                            <label>Foto Profil</label>
                            <div class="upload-area">
                                <div class="profile-pic-preview">
                                    <div class="pic-display" id="profile-pic-display">
                                        <i class="fas fa-user-plus"></i>
                                    </div>
                                </div>
                                <div class="upload-controls">
                                    <input type="file" id="foto-profil" accept="image/png, image/jpeg" style="display: none;">
                                    
                                    <label for="foto-profil" class="btn btn-secondary">Pilih Foto...</label>
                                    
                                    <span class="file-name" id="file-name-display">Tidak ada file dipilih</span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-actions">
                            <button type="submit" class="btn-simpan">Simpan</button>
                        </div>
                    </form>
                </div>
            </section>
        </main>
    </div>

    <script src="../static/js/script.js"></script>
</body>
</html>